.footer{
    background-color: #212529;
    color:#fff;
    padding: 20px 0px;
}
.footer h4{
    margin-bottom: 20px;
}
.footer ul li{
    list-style: none;
    padding: 5px 0px;
}
.footer ul li a{
    color:#fff;
    text-decoration: none;
}
.footer ul li i{
    font-size: 18px;
    margin-left: -30px;
}
.footer-up{
    display: flex;
    justify-content: space-around;
}
.footer p{
    text-align: center;
}

/* Make it responsive */
@media only screen and (max-width:688px) {
    .footer-up{
        margin: 0px 50px;
        flex-direction: column;
    }
}